@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Books/Index">Books</a>
    </div>
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Categories/Index">Categories</a>
    </div>
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/CategoryTypes/Index">Category Types</a>
    </div>
</div>
